<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662350540538-vki6od2dcbrrp58k5qcn97kag85di796.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662350540538-vki6od2dcbrrp58k5qcn97kag85di796</string>
	<key>API_KEY</key>
	<string>AIzaSyBPCNbZX-rqeru8_qtNzkZmd59Wh3QDgus</string>
	<key>GCM_SENDER_ID</key>
	<string>662350540538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericson.chatAppTutorial</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatapptutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatapptutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662350540538:ios:c2f243db306a699eae6343</string>
</dict>
</plist>